/* red:  #ff471a
yellow:  #ffa31a
blue:  #3377ff
white: #ffffe6
 */

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#001133, #3377ff)
}

@font-face {
    font-family: 'BowlbyOne-Regular';
    src: url('./fonts/BowlbyOne-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: 300;
}

#word-control-buttons {
    position: relative;
    left: 430px;
    top: 120px;
}

#display-container {
    display: flex;
    flex-direction: column;
}

#header {
    flex: 1;
    width: 100%;
    font-family: 'BowlbyOne-Regular';
    text-align: center;
    font-size: 20vh;
    color: #ff471a;
    -webkit-text-stroke: 3.2px #ffffe6;
    letter-spacing: .03px;
}

#start-timer {
    background-color: #ffa31a;
    border: none;
    text-decoration: none;
}

#start-timer:hover {
    background-color: none;
    transform: none;
}

#start-timer:active {
    transform: none;
}

#welcome {
    flex: 1;
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman';
    padding: 15px 400px 0 400px;
    text-align: left;
}

#user-form {
    display: flex;
    justify-content: baseline;
    font-size: 20px;
}

#username {
    width: 250px;
    border: none;
}


#timer-container {
    position: absolute;
    width: 75%;
    top: 120px;
    left: 120px;
    font-family: Helvetica;
    font-size: 20px;
    color: #05386B;
}

#current-word-container {
    position: absolute;
    top: 110px;
    left: 230px;
    width: 75%;
    font-family: 'Roboto-Medium';
    color: #05386B;
    font-weight: bold;
}

button {
    background-color: #05386B;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font: "Open Sans";
    transition: transform 0.1s linear;
}

button:hover {
    background-color: rgb(59, 107, 155);
    transform: scale(1.1);
}

button:active {
    transform: translateY(4px);
}

input[type=text] {
    background: #EDF5E7;
    padding: 5px;
    width: 20%;
}

#words-container {
    position: relative;
    border-radius: 5px;
    border-color: #379683;
    background-color: rgb(183, 211, 209);
    position: absolute;
    right: 25%;
    top: 200px;
    width: 20%;
    height: 65%;
    font-family: Arial;
    color: #05386B;
    font-size: 30px;
    padding: 10px;
}

#letter {
    color: #379683;
    font-size: 30px;
    font-family: Arial;
    padding: none;
    margin: none;
}

#board-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #379683;
    padding: 10px;
    border-radius: 10px;
    top: 165px;
    left: 170px;
    width: 455px;
    height: 455px;
}

.empty-item {
    background-color: #80CBC4;
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.item {
    background-color: #80CBC4;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #05386B
}

#word-buttons {
    left: 300px;
    position: relative;
}

#finished {
    /* display: none; */
    position: absolute;
    left: 75%;
    top: 86%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* font-family: 'Bowreghul'; */
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: #05386B;
    font-size: 3vh;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.other-features {
    display: none;
    position: absolute;
    left: 75%;
    top: 70%;
}

#modal-header {
    width: 100%;
    text-align: center;
    font-size: 8vh;
    background-color: #05386B;
    color: #EDF5E7;
}

#score-num {
    color: #4C8FB9;
    font-size: 10vh;
    font-family: Luminari, fantasy;
    font-variant-numeric: oldstyle-nums;
}


#modal-header {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* height: 15%; */
    width: 100%;
    /* font-family: 'Bowreghul'; */
    /* padding: 10px; */
    text-align: center;
    font-size: 8vh;
    background-color: #05386B;
    color: #EDF5E7;
}

